* {
    box-sizing: border-box;
  }

      body {
        background: #506c64;
        color: #fff;
        padding: 50px;
        font-family: sans-serif;
        max-width: 500px;
        margin: auto;
        
      }
      a {
        color: #6bddbd;
        font-size: 40px;
      }

      section {
        width: 800px;
        margin: 0px auto;
      }

      .task {
        width: 400px;
      }

      .strikeout {
        text-decoration: line-through;
